<footer class="landing-footer">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-4 col-xs-12">
                <div class="footer-logo">
                    <a class="navbar-brand-white" ui-sref="landing"></a>
                </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="footer-about">
                    <h2 class="landing-title">About</h2>
                    <ul class="list-unstyled">
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Gigs</a></li>
                        <li><a href="#">Press</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="footer-legal">
                    <h2 class="landing-title">Legal</h2>
                    <ul class="list-unstyled">
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Terms of service</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-sm-3 col-xs-12">
                <div class="footer-connect">
                    <h2 class="landing-title">Connect</h2>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Twitter</a>
                        </li>
                        <li>
                            <a href="#">Facebook</a>
                        </li>
                        <li>
                            <a href="#">Pinterest</a>
                        </li>
                        <li>
                            <a href="#">Google+</a>
                        </li>
                        <li>
                            <a href="#">Linkedin</a>
                        </li>
                        <li>
                            <a href="#">Email</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>