<div class="login-modal" ng-controller="LandingCtrl">
    <uib-tabset active="1">
        <uib-tab index="0" heading="Sign up" ng-click="onTabSelect('signUpTab')">
            <div class="login-modal-logo"><a ui-sref="landing" class="navbar-brand"></a></div>
            <form action="" id="signUpForm" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" ng-model="signUpFormData.email" placeholder="Email" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" ng-model="signUpFormData.password" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                    <label><input type="checkbox" value="accept"> <strong>Accept</strong></label> <a href="#" class="text-accent">Terms of service</a>
                </div>
                <div class="form-group text-center">
                    <button class="poshly-button-rounded btn-w100 g-recaptcha"
                            id="signUpBtn"
                            vc-recaptcha
                            key="model.key"
                            on-create="setWidgetId(widgetId)"
                            on-success="setResponse(response)"
                            on-expire="cbExpiration()"
                    >Sign up</button>
                </div>
            </form>
        </uib-tab>

        <uib-tab index="1" heading="Login" ng-click="onTabSelect('loginTab')">
            <div class="login-modal-logo"><a ui-sref="landing" class="navbar-brand"></a></div>
            <form action="" id="loginForm" method="post" ng-submit="loginFormSubmit($event)">
                <div class="form-group">
                    <input type="email" class="form-control" ng-model="loginFormData.email" placeholder="Email" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" ng-model="loginFormData.password" placeholder="Password" required="required">
                </div>
                <a ng-href="{{forgotPasswordPath}}" class="text-muted" id="forgot-password">Forgot Password?</a>

                <div class="form-group text-center">
                    <button type="submit" class="poshly-button-rounded btn-w100" id="loginBtn">Login</button>
                </div>
            </form>
        </uib-tab>
    </uib-tabset>
</div>