.insights-footer {
  margin-top: 40px;

  .copyright { text-align: center; }

  .footer-text {
    font-size: 10px;
    font-weight: $xtrabold;
    margin-top: 20px;
  }

  .footer-brand {
    background-size: 30px;
    margin-bottom: 20px;
    width: 40px;
  }
}
