<div class="container container-insights">
		<div class="row">
		<div class="col-md-4 block-for-login">
			<img src="../assets/images/insights/insights_logo.png" alt="" class="insights-logo">
			<input type="text" placeholder="Username or Email" class="username-input">
			<input type="password" placeholder="Password" class="pass-input">
      <button class="poshly-button-rounded" ui-sref="innerinsights">LOGIN</button>
      <img src="../assets/images/insights/or.png" alt="or">
      <button class="poshly-button-rose-rounded">Request A Demo</button>
      <img src="../assets/images/logo/icon-light-color-tiny@2x.png" alt="logo_icon">
      <span class="copyright-insights">© 2011-2017 Poshly Inc.</span>
		</div>
		<div class="col-md-8">
			<h1 class="poshly-slogan">Poshly Insights is Your Consumer Intelligence Solution</h1>
			<p class="poshly-text">How do you stay in front of consumer trends? Poshly empowers brands with real-time, high-quality insights. Our easy-to-use platform helps you sell more, innovate faster, and sample better than ever before. Check out our video for brands.</p>
			<span class="left_arrow"><img src="../assets/images/insights/left_arrow.png" alt="left-arrow"></span>
			<span class="right_arrow"><img src="../assets/images/insights/right_arrow.png" alt="right-arrow"></span>
		</div>
	</div>	
</div>