<div class="full-product-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="product-item-info set-my-account">
                    <div class="col-md-12 col-xs-12">
                        <h1>My Account <button class="poshly-button-rounded">EDIT</button></h1>
                    </div>
                    <img src="../assets/images/insights/Line.png" alt="copy" class="line-set">
                    <div class="col-md-12 col-xs-12 set-accounts-inputs">
                        <span>First Name:</span>
                        <span>Last Name:</span>
                        <span>Email:</span>
                        <span>Mobile:</span>
                        <span>Birthday:</span>
                     </div>
                </div>
                <div class="product-item-info set-my-account">
                    <div class="col-md-12 col-xs-12">
                        <h1>My Address <button class="poshly-button-rounded">Update</button></h1>
                    </div>
                    <img src="../assets/images/insights/Line.png" alt="copy" class="line-set">

                     <div class="col-md-12 col-xs-12 set-accounts-inputs">
                        <span>Name:</span>
                        <span>Address Line 1:</span>
                        <span>Address Line 2:</span>
                        <span>City:</span>
                        <span>Country:</span>
                     </div>
                </div>
                <div class="product-item-info set-my-account">
                    <div class="col-md-12 col-xs-12">
                        <h1>Password <button class="poshly-button-rounded">UPDATE</button></h1>
                        <img src="../assets/images/insights/Line.png" alt="copy" class="line-set-pass">
                        <input type="password" placeholder="Old Password" class="old-password">
                        <input type="password" placeholder="New Password" class="new-password">
                        <input type="password" placeholder="Confirm New Password" class="confirm-new-pass">
                    </div>
                </div>  
            </div>
            <div class="col-md-6 col-xs-12"> 
                <div class="product-item-info set-my-account">
                    <div class="col-md-12 col-xs-12">
                        <h1>My Giveaways</h1>
                        <img src="../assets/images/insights/Line.png" alt="copy" class="line-set-pass">
                        <h2 class="give-participation">Participation</h2>
                        <p class="participation-text"><span class="count">0</span>Complete Entries</p>
                        <p class="participation-text"><span class="count">1</span>Incomplete Entries</p>
                        <p class="participation-text"><span class="count">1</span>Total Participating</p>
                        <img src="../assets/images/insights/Line.png" alt="copy" class="line-set-pass">
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="product-details">
                        <header>
                            <div class="product-heading">
                                <img src="../assets/images/insights/hp.jpg" alt="parcipating-image">
                                <h2 class="text-accent">Harry Potter Makeup!</h2>
                                <p class="product-name">Last started 01/09/2017 18:31 PM</p>
                            </div>
                            <span class="entries-count">0</span>
                        </header>
                        <p class="product-description"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>